<!DOCTYPE html>
<html lang="en">
  <head>
    <%- head.title.toString() %>
    <%- head.meta.toString() %>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="/<%- webpackAsset('bundle', 'css') %>" />
      <title></title>
    </head>
    <body>

    <div id='app'><%- content %></div>
    <div id='devtools'></div>

    <script type="text/javascript" src="/<%- webpackAsset('vendor', 'js') %>"></script>
    <script type="text/javascript">window.__INITIAL_STATE__ = <%- initialState %></script>
    <script type="text/javascript" src="/<%- webpackAsset('bundle', 'js') %>"></script>
    </body>
</html>